<!-- Comment template -->
<div id="comment-template" class="comment comment-template" data-parent-id="">
    <div id="comment-template__depth">
        <div class="comment__avatar">
            <img id="comment-template__user-avatar">
        </div>
        <div class="comment__user-name">
            <h4 id="comment-template__user-name"></h4>
        </div>
        <div class="comment__text">
            <p id="comment-template__text"></p>
        </div>
        <div class="comment__date">
            <span id="comment-template__date"></span>
        </div>
        <span id="comment-template__reply-btn" class="comment__reply btn-link">Ответить</span>
        <input type="radio" id="comment-template__reply-input" name="reply-comment-id" hidden>
    </div>
</div>