<div id="modal-image" class="modal fade modal-image">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                {% if controller == 'file' %}
                    <img src="{{ file.thumbnailPath }}" alt="" data-dismiss="modal" aria-hidden="true">
                {% else %}
                    <img src="" alt="" data-dismiss="modal" aria-hidden="true">
                {% endif %}
            </div>
        </div>
    </div>
</div>