<div id="modal-image" class="modal fade modal-image">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="{{ file.thumbnailPath }}" alt="" data-dismiss="modal" aria-hidden="true">
            </div>
        </div>
    </div>
</div>